# 依赖目录
node_modules
npm-debug.log

# Next.js 构建输出
.next
out

# 版本控制
.git
.gitignore

# 开发工具配置
.vscode
.idea

# 环境文件
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 系统文件
.DS_Store
Thumbs.db
